@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
}
ul li {
  list-style: none;
}
body {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  text-align: center;
}
header h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 80px 0;
}
header h1::after {
  content: ".";
  color: var(--blue);
}
header p:nth-child(2) {
  color: var(--gray);
  font-size: 2rem;
}
header p:nth-child(3) {
  font-size: 1rem;
  padding: 40px 0;
}
header p span {
  color: var(--very-dark-blue);
  font-size: 2rem;
  font-weight: 800;
}

form {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
input[type="email"] {
  border-radius: 4rem;
  border: solid 1px var(--blue);
  outline: none;
  width: 420px;
  height: 60px;
  padding-left: 2rem;
}

input[type="submit"] {
  background-color: var(--blue);
  color: white;
  border-radius: 4rem;
  border: none;
  width: 200px;
  height: 60px;
}
input[type="submit"]:hover {
  background-color: var(--very-dark-blue);
  cursor: pointer;
  color: white;
}
::placeholder {
  color: var(--gray);
}

#email-error {
  position: absolute;
  right: 50%;
  color: var(--light-red);
  font-size: 14px;
}
.wrapper {
  width: 650px;
  height: 400px;
}
.wrapper img {
  display: block;
  width: 100%;
  object-fit: cover;
}
section ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 0;
}
.social_media {
  padding-top: 80px;
}
.social_media ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: var(--blue);
  border: 0.5px solid var(--gray);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.social_media ul li a:hover {
  background-color: var(--blue);
  color: white;
  font-size: 0.75rem;
}

.copyright {
  color: var(--gray);
  font-size: 0.85rem;
  padding: 1rem 0rem;
  text-align: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    position: relative;
    width: 90%;
  }

  input[type="submit"],
  input[type="email"] {
    width: 100%;
  }
  #email-error {
    position: absolute;
    font-size: 12px;

    left: 0.3rem;
    top: 4rem;
    width: 100%;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .attribution {
    font-size: 8px;
  }
}
